@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
    <h1>Function Generator</h1>
    <p class="lead">We generating your code! just tell us what we can coding for you...</p>
</div>

@*<p><a class="btn btn-outline-secondary btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Load Description ↑</a></p>*@

<div class="jumbotron">
    <div class="custom-file" style="width: 205px">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile" >Description from file ↑</label>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Your description</span>
        </div>
        <textarea id="textInput" class="form-control" rows="7" aria-label="Your description" style="min-width: 85%"></textarea>
    </div>
</div>

<p><a id="updateCodeButton" class="btn btn-outline-success btn-lg">Run &rsaquo;</a></p>
<br>
<div class="jumbotron">
    <div class="bg-transparent">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Generated code</span>
            </div>
            @*<textarea value ="@ViewBag.GeneratedCode" id="GeneratedCode" class="form-control" rows="7" aria-label="Generated code" style="min-width: 85%"></textarea>*@
            <div id="code" class="flex-container">@Html.Raw(ViewBag.GeneratedCode)</div>
        </div>
    </div>
</div>

<p><a class="btn btn-outline-secondary btn-sm" OnClick="btnHighLight_Click">Export file ↓</a></p>

<script>
    $().ready(() => {

        $('#updateCodeButton').click(() => {
            updateCode();
        })


    var updateCode = function () {
        var text = $('#textInput').val();
        $.post('/Home/RunModel', { request: text}).done(data => {
            this.document.getElementById('code').innerHTML = data;
        });
        };
    });
</script>
